<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>Rango says here is the about page.</h1>
    <div>
        <a href="/rango/">Index</a><br />
        <img src="{% static "images/rango.png" %}" alt="Picture of Rango" /> <!-- New line -->
    </div>
    <div>
        This tutorial has been put together by {{ boldmessage }}<br />
    </div>
    <div>
        <img src="{{ MEDIA_URL }}cat.png" alt="Picture of a Cat."/>
    </div>
</body>
</html>